@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Syne:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-secondary {
    @apply font-primary text-[1.12rem] font-bold capitalize  md:text-4xl;
  }
  .btn-primary {
    @apply w-full rounded-[2px] bg-btnColor px-8  py-4 text-[18px] font-medium capitalize text-white sm:w-auto;
  }
  .btn-secondary {
    @apply theme-transition rounded-[2px] border border-solid border-btnColor px-8 py-4 text-[16px] font-medium capitalize text-orangePrimary hover:bg-orangePrimary hover:text-white;
  }
  .heading-primary {
    @apply font-primary text-[30px] font-bold capitalize text-white sm:text-[45px] md:leading-[74px] lg:text-[60px];
  }
}
.roundedButton {
  border-radius: 4px;
  border: 1px solid #ff463a;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 35px 15px 35px;
  flex-direction: column;
}

.roundedButton p {
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
  color: #ff463a;
}

.roundedButton:hover p {
  color: white;
  font-size: 18px;
}

.circled {
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
}

html {
  scrollbar-width: none;
}

body {
  overflow-x: hidden !important;
  font-weight: 400;
}

#scrollbar {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* hide scroll-bar for chrome, sefari, edge */
body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::selection {
  background-color: #ff463a;
  color: inherit;
}

.scrollbar-track {
  background-color: transparent !important;
}

.scrollbar-track-y {
  width: 0 !important;
}

.scrollbar-thumb {
  width: 0 !important;
}

.overflow {
  overflow-y: hidden;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  accent-color: #ff463a;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.theme-transition {
  transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
}

.transition-el {
  transition: all 5s ease-in-out;
}

.bg-light-primary {
  background-color: #fffefe;
}

.text-light-primary {
  color: #111111;
}

.text-light {
  color: #181818;
}

.bg-dark-secondary {
  background-color: #1f2021;
}

.bg-dark {
  background-color: #121418;
}

.text-dark {
  color: #fff;
}

.text-default {
  color: #ec4e39!important;
}

.text-dark-primary {
  color: #b3b3b3;
}

.bg-light-secondary {
  background-color: #eaeaea;
}

.description .body {
  position: relative;
}

.description .body  {
  margin: 0px;
}

.description .body:nth-of-type(1) span {
  margin-right: 3px;
}

.description .body:nth-of-type(1) .masked {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}

.mask {
  width: 50%;
  height: 50%;
  cursor: default;
}

.mask {
  mask-image: url("../src/assets/Svg/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 20px;
  background: #ec4e39;
  position: absolute;
  color: black;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(50% at 50% 50%);
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 15s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text span {
  left: 50%;
  right: 34%;
  top: 5%;
  font-size: 0.5em;
  transform-origin: 0 70px;
  text-transform: uppercase;
}

.centered-image {
  clip-path: circle(50% at 50% 50%);
  width: 94px;
  height: 94px;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility {
  visibility: visible;
}

.loading-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-bar:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid #ec4e39;
  border-right: 5px solid #ec4e39;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 35px;
  cursor: pointer;
  margin: 0;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  width: 35px;
  height: 3px;
  border-radius: calc(4px / 2);
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
  z-index: 300;
}

/***** Collapse Animation *****/

.bar--top {
  bottom: calc(20% + 11px + 4px / 2);
  transition-property: bottom, margin, transform;
  transition-delay: calc(0s + 0.35s), 0s, 0s;
}

.bar--bottom {
  top: calc(30% + 11px + 4px / 2);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 11px - 4px);
  margin-bottom: calc(11px + 4px / 2);
  transform: rotate(45deg);
  transition-delay: calc(0s + 0.35s * 0.3), calc(0s + 0.35s * 1.3),
    calc(0s + 0.35s * 1.3);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px / 2);
  transform: rotate(-45deg);
  transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}



@keyframes slideFromTop {
  0% {
    top: -100vh;
    opacity: 0;
    visibility: visible;
  }

  25% {
    top: -70vh;
    opacity: 0.25;
    visibility: visible;
  }

  50% {
    top: -50vh;
    opacity: 0.5;
    visibility: visible;
  }

  75% {
    top: -30vh;
    opacity: 0.75;
    visibility: visible;
  }

  100% {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}

.sidebar {
  position: fixed;
  top: -100vh;
  z-index: -2;
  right: 0;
  width: 100%;
  height: 100%;
  transition:
    top 1s ease-in-out,
    opacity 1s ease-in-out,
    visibility 1s ease-in-out;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
}

.sidebar.open {
  animation: slideFromTop 0.6s ease-out;
   top: 0;
  opacity: 1;
  visibility: visible;
}


.image-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s ease; 
  pointer-events: none; 
}

.image-container:hover::before{
  opacity: 1;
}

  .row-letter {
      font-size: 28rem;
      font-weight: 500;
      position: relative;
      letter-spacing: -0.8rem;
      display: inline-block;
      white-space: nowrap;

    }