@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-secondary {
    @apply font-primary capitalize text-[1.12rem] md:text-4xl  font-bold
  }

  .btn-primary {
    @apply rounded-[2px] bg-orangePrimary px-8 py-4  text-[16px] font-medium capitalize text-white w-full sm:w-auto
  }
  
  .btn-secondary {
    @apply theme-transition rounded-[2px] border border-solid border-orangePrimary px-8 py-4 text-[16px] font-medium capitalize text-orangePrimary hover:bg-orangePrimary hover:text-white
  }

  .heading-primary {
    @apply  font-primary text-[30px] font-bold capitalize text-white sm:text-[45px] md:leading-[74px] lg:text-[60px]
  }

}


body {
  overflow-x: hidden;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #FF463A;
  border: none;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #fff;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.theme-transition {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.bg-light-primary {
  background-color: #FFFEFE;
}

.text-light-primary {
  color: #111111;
}

.text-light {
  color: #181818;
}

.bg-dark-secondary {
  background-color: #1F2021;
}

.bg-dark{
  background-color: #121418;
}

.text-dark {
  color: #FFF;
}

.text-dark-primary {
  color: #B3B3B3;
}

.bg-light-secondary {
  background-color: #EAEAEA;
}

.cursor {
  position: absolute;
  width: 15px;
  height: 15px;
  /* border: 2px solid #333; */

  border-radius: 50%;
  pointer-events: none; /* Prevent the cursor from blocking interactions */
  mix-blend-mode: difference; /* Create a mask effect */
  transform: translate(-50%, -50%);
  background-color: #FF463A;
}



  .mask{
    width: 50%;
    height: 50%;
    cursor: default;
   
 
  }
  
  .mask{
    mask-image: url('../src/assets/Svg/mask.svg');
    mask-repeat: no-repeat;
    mask-size: 20px;
    background: #ec4e39;
    position: absolute;
    color: black;
  }
