@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-secondary {
    @apply font-primary capitalize text-[1.12rem] md:text-4xl  font-bold
  }

  .btn-primary {
    @apply rounded-[2px] bg-orangePrimary px-8 py-4  text-[16px] font-medium capitalize text-white w-full sm:w-auto
  }

  .heading-primary {
    @apply  font-primary text-[30px] font-bold capitalize text-white sm:text-[45px] md:leading-[74px] lg:text-[60px]
  }

}

body {
  overflow-x: hidden;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.theme-transition {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.bg-light-primary {
  background-color: #FFFEFE;
}

.text-light-primary {
  color: #111111;
}

.text-light {
  color: #181818;
}

.bg-dark-secondary {
  background-color: #1F2021;
}

.bg-dark{
  background-color: #121418;
}

.text-dark {
  color: #FFF;
}

.text-dark-primary {
  color: #B3B3B3;
}

.bg-light-secondary {
  background-color: #EAEAEA;
}
